.about {

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 972px;
    margin: 0 auto 80px;
    padding: 0;
    list-style: none;
    background-color: $white;
    box-shadow: 0 4px 4px 0 transparentize($black, 0.75);

    @include tablet {
      width: calc(100% - 60px);
      margin-bottom: 50px;
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;
      padding: 40px 0;
      background-color: transparent;
      box-shadow: none;
      background-image: url("../img/main_back.jpg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: center;
      overflow: hidden;
    }
  }

  &__list-item {
    width: 50%;
    padding: 50px 75px 60px 59px;
    border: 1px solid $light-gray;

    @include tablet {
      padding: 45px;
    }

    @include mobile {
      width: calc(100% + 40px);
      padding: 30px 25px;
      background-color: $white;
      box-shadow: 0 4px 4px 0 transparentize($black, 0.75);

      &:nth-child(odd) {
        transform: translate(20px, 0);
        padding-right: 80px;
      }

      &:nth-child(even) {
        transform: translate(-60px, 0);
        padding-left: 80px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__item-title {
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $orange;
  }

  &__item-text {
    margin: 17px 0 0;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: $charcoal;

    @include tablet {
      font-size: 20px;
      line-height: 24px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__info {
    padding: 82px 0 104px;
    background-color: $white;

    @include tablet {
      padding: 50px 85px 65px;
    }

    @include mobile {
      padding: 40px 20px;
    }
  }

  &__title {
    max-width: 773px;
    margin: 0 auto 24px;
  }

  &__text {
    max-width: 773px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}