.features {
  padding: 120px 135px 148px;

  @include tablet {
    padding: 65px 50px 40px;
  }

  @include mobile {
    padding: 45px 30px 35px;
  }

  &__title {
    margin: 0 0 63px;
    text-align: center;
    color: $black;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 1439px) {
      justify-content: space-between;
      margin: 0;
    }

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-top: 84px;
    background-image: url("../../img/icon_wallet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include mobile {
      padding-top: 0;
      background-size: 50px;
    }

    &:nth-child(1) {
      width: 326px;
      margin-right: 71px;

      @media (max-width: 1439px) {
        width: calc((100% / 3) - 30px);
        margin: 0;
      }

      @include wide-mobile {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 332px;
      margin-right: 65px;

      @media (max-width: 1439px) {
        width: calc((100% / 3) - 30px);
        margin: 0;
      }

      @include wide-mobile {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 345px;

      @media (max-width: 1439px) {
        width: calc((100% / 3) - 30px);
      }

      @include wide-mobile {
        width: 100%;
      }
    }

    &:not(:last-child) {

      @include tablet {
        margin-bottom: 35px;
      }
    }
  }

  &__item-title {
    display: block;
    position: relative;
    margin-bottom: 50px;
    font-size: 20px;
    color: $black;

    @include mobile {
      padding-left: 90px;
    }

    &::before {
      position: absolute;
      bottom: -26px;
      left: 0;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $orange;

      @include mobile {
        left: 90px;
      }
    }
  }
}