.main {
  padding-top: 501px;
  background-color: $light-gray;
  background-image: url("../img/main_back.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 1439px) {
    padding-top: 30vw;
  }

  @include mobile {
    padding-top: 0;
    background-image: none;
  }

  &__features {
    width: 1140px;
    margin: 0 auto;
  }
}