.write {
  padding: 101px 0 120px;
  background-color: $black-back;

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    position: relative;
    padding: 60px 20px;
  }

  &__title {
    max-width: 1440px;
    margin: 0 auto 84px;
    text-align: center;
  }

  &__form {
    width: 575px;
    margin: 0 auto;
    counter-reset: number;

    @include tablet {
      width: 60%;
      padding-left: 60px;
    }

    @include mobile {
      width: 100%;
      padding-left: 0;
    }
  }

  &__form-input {
    position: relative;
    margin-bottom: 67px;
  }

  &__form-submit {
    width: 100%;
    margin-top: -7px;
  }
}