/* Переменные */

/* Шрифты */
$din: 'DIN Pro', 'Arial', sans-serif;
$roboto: 'Roboto', 'Arial', sans-serif;
$gilroy: 'Gilroy', 'Arial', sans-serif;

/* Цвета */
$black: #000000;
$text: #4a4556;
$charcoal: 222222;
$white: #ffffff;
$orange: #f47821;
$lignt-gray: #f7f5fa;


/* Геометрия */
$desktop: 1440px;