/* Переменные */

/* Шрифты */
$din: 'DIN Pro', 'Arial', sans-serif;
$roboto: 'Roboto', 'Arial', sans-serif;
$gilroy: 'Gilroy', 'Arial', sans-serif;

/* Цвета */
$black: #000000;
$black-back: #161616;
$text: #4a4556;
$charcoal: #222222;
$white: #ffffff;
$orange: #f47821;
$light-gray: #f7f5fa;
$stroke: #cacaca;
$error: #950000;


/* Геометрия */
$desktop: 1440px;